<style>
  .alert {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 1rem;
    text-align: center;
    color: red;
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 5px;
  }

  .success {
    color: green;
    background-color: rgba(0, 255, 0, 0.25);
  }
</style>
<div class="col s6 offset-s3">

  {{#if passwordError}}
    <div class="alert">
      {{passwordError}} 
    </div>
  {{/if}}

  <h3 style="text-align: center;">{{title}}</h3>
  <form action="/auth/password" method="post">
    <div class="input-field col s6">
      <input id="password" type="password" name="password" class="validate" required min="4">
      <label for="passsword">Новый пароль</label>
      <span class="helper-text" data-error="Введите пароль"></span>
    </div>

    <div class="input-field col s6">
      <input id="confirm" type="password" name="confirm" class="validate" required min="4">
      <label for="confirm">Подтвердите новый пароль</label>
      <span class="helper-text" data-error="Введите пароль"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="token" value="{{token}}">

    <button class="btn btn-danger" type="submit">Изменить</button>
  </form>
</div>