<h1>Курсы</h1>

{{#if courses.length}}
        <div class="row">
    {{#each courses}}
            <div class="col s6">
                <div class="card">
                    <div class="card-image">
                        <img src="{{img}}" alt="{{title}}">
                    </div>
                    <div class="card-rating" view="true" data-to="{{id}}" data-rating="{{rate}}">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                    <div class="card-rating votes">
                        Оценили ({{votes}})
                    </div>
                    <div class="card-content">
                        <span class="card-title title">{{title}}</span>
                        <span class="card-title">Автор:</span>
                        <p class="author">{{author}}</p>
                        <br>
                        <p class="price">{{price}}</p>
                    </div>
                    <div class="card-action actions">
                        <a href="/courses/{{id}}" target="_blank">Открыть курс</a>
                        {{#if @root.isAuth}}
                            {{#if isAuthor}}
                                <a href="/courses/{{id}}/edit?allow=true">Редактировать</a>
                            {{/if}}
                            <form action="/profile/basket/add" method="post">
                                <input type="hidden" name="id" value="{{id}}">
                                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                                <button class="btn btn-primary" type="submit">Купить</button>
                            </form>
                        {{/if}}
                    </div>
                </div>
            </div>
    {{/each}}
        </div>
{{else}}
    <p>Курсов пока нет</p>
{{/if}}