<h2>{{ title }}</h2>

<form action="/courses/edit" method="post">
    <div class="input-field col s6">
        <input id="title" type="text" name="title" class="validate" required value={{course.title}}>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field col s6">
        <input id="price" type="text" name="price" class="validate" required min="1" value={{course.price}}>
        <label for="price">Цена</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>

    <div class="input-field col s6">
        <input id="img" type="text" name="img" class="validate" required value={{course.img}}>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите url картинки"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" name="rating" value="{{course.rating}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-danger" type="submit">Редактировать</button>
</form>

<form action="/courses/remove" method="post" style="margin-top: 15px;">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{course.id}}">
    <button class="btn red" type="submit">Удалить</button>
</form>